@font-face {
  font-family: 'Playfair';
  src: local('src/fonts/Playfair_Display'), url(./fonts/Playfair_Display/PlayfairDisplay-Regular.ttf) format('opentype');
}

body {
  margin: 0;
  background-color: #EFE2D3;
  font-family: 'Playfair';
}

.desktop-only {
  display: block
}

.register-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 2fr ;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

@media screen and (max-width: 768px) {
  .desktop-only {
    display: none
  }
  .register-grid {
    display: flex;
    flex-direction: column;
  }
}

